<link rel="stylesheet" href="navstyle.css" />

<main>
  <div class="big-wrapper light">
    <header>
      <div class="container">
        <div class="logo">
          <img src="./img/logo.png" alt="Logo" />
          <h3>Giving you Wings</h3>
        </div>

        <div class="links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">ContactUs</a></li>
            <li><a href="/login" class="btn">Login</a></li>
            <li><a href="/register" class="btn">Signup</a></li>
          </ul>
        </div>

        
        </div>
      </div>
    </header>
  </div>
</main>
