<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmployerJobAppliedList</title>

    <link rel="stylesheet" href="acceptedjobs.css" />
  </head>

  <body>
    <div class="grid">
    
      <%-code%>
      <!-- <div class="grid-item">
        <div class="card">
          <!-- <img class="card-img" src="./img/rome.jpg" alt="Rome" /> -->
          <!-- <div class="card-content">
            <h1 class="card-header">Work Title</h1>
            <p class="card-text">
                <h3 class="heading">Work ID:</h3>
             <h3>Name:</h3>
             <h3>Age:</h3>
             <h3>Phone Number:</h3>
             <h3 >Address:</h3>
             <h3>Work Experience:</h3>
            </p>
            <button class="card-btn">Accept</button>
          </div>
        </div> -->
      </div> -->

     
      

      
      
    </div>
    <script src="sample.js"></script>
  </body>
</html>
