<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="applyjobstyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <%-include('./partials/navbar2.ejs')%>
    <div class="container">
      <div class="title">Apply For Job Empower Yourself!! </div>
     
        <div class="right-side">
          <div class="topic-text">  Enter your work Experience</div>
          
          <form action="/applyjob" method="post">
            <div class="input-box message-box">
               
              <input type="text" name="workExp" placeholder="Enter your Work Experience with this work" />
            </div>
            <div class="input-box">
                <span>Enter work id</span>
                <input type="number" name="workid" placeholder="Enter the work Id mentioned with the job" />
              </div>
            <div class="button">
              <button type="submit" value="Apply Now" >Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
