<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="employerpoststyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Jobs</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Job Name</span>
              <input type="text" placeholder="Enter job name" required />
            </div>
            <div class="input-box">
              <span class="details">Work Description</span>
              <input
                type="text"
                placeholder="Enter work description"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Salary</span>
              <input type="text" placeholder="Enter salary" required />
            </div>
            <div class="input-box">
              <span class="details">Address</span>
              <input type="text" placeholder="Enter address" required />
            </div>
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Work Mode</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Home</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Remote</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">On site</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
