<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landingstyle.css" />

    <title>Document</title>
  </head>
  <body>
    <%-include('./partials/navbar.ejs')%>

    <div class="big-wrapper light">
      <div class="showcase-area">
        <div class="container">
          <div class="left">
            <div class="big-title">
              <h1>Get a job and Empower Yourself!!</h1>
            </div>
            <p class="text">
              Start exploring now!!Wether you are a skilled or unskilled find a
              job according to your need. To know more, Click the button Below
            </p>
            <div class="cta">
              <a href="/alljobs" class="btn">Get Job!!</a>
            </div>
          </div>

          <div class="right">
            <img src="./img/pic1.png" alt="Person Image" class="person" />
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
